{% extends 'base.html.twig' %}

{% block title %}Business Idea{% endblock %}

{% block body %}

  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <div class="mt-4">
    <h5> <i>Welcome <span class="text-info">{{ app.user.firstName }}.</span> In this page, you can find your companies business idea.
      Only senior managers are allowed to modify the business idea.</i></h5>

    <div class="mt-3">
      {% include('@includes/editor.html.twig') with {
        initialText:'Write down your business idea. You can also insert business diagrams and product pictures. Click on the edit button!!',
        actionPath:'/home',
        deltaType:'home'
      } %}
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset("js/home.js") }}"></script>
{% endblock %}
