{% extends 'base.html.twig' %}

{% block title %}Business Model Processing{% endblock %}

{% block body %}
  <h2 class="text-center mt-5">There is no business model at this time. Please initialize one!!!</h2>
{% endblock %}
